@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3";
    ViewData["Header"] = "Welcome to the Site for IS 413 By Kevin Gutierrez!";

}




    
    <!--- <img id="picKev" src="../img/skikev.jpg" /> -->
    <img width="200" id="picKev" src="../img/utahski.png" />

    <p>
        These are the learning objectives for the class: <br />
        1. Create web apps using the .NET MVC Framework. <br />
        2. Write Razor pages using the fundamentals of C#. <br />
        3. Use libraries such as Bootstrap, JQuery, Angular etc. in the web apps. <br />
        4. Set up connection strings to connect database(es) and interact with data.
        5. Interact with APIs as needed to attain desired results. <br />
        6. Use basic security measures to protect code from malicious attacks. <br />
        7. Work as a team to build and integrate a web app. <br />
        8. Have the tools necessary to complete the ASP.NET Core MVC components of INTEX. <br />
        9. Increase confidence in ability to “figure things out” on one’s own. <br />
        I basically hope to gain all the skills stated above that Professor Hilton wants to impart with us.
    </p>
    <br />
    <p>Jobs I want to work:</p>
    <ul>
        <li>1: Data Analyst</li>
        <li>2: Software Programmer</li>
        <li>3: Business Consultant</li>
        <li>4: Web Developer</li>
    </ul>
    

    @*<script src="~/lib/jquery/jquery-3.6.0.min.js"></script>*@
    @*<script src="~/js/FanMail.js"></script>*@

